.button{
    font: inherit;
    border: 1px solid black;
    background-color: brown;
    ;
    color: azure;
    padding:  .05rem .05rem;
    cursor: pointer;
}
.button:hover,
.button:active{
    background: rgb(0, 255, 115);
    border-color: black;
}
.backgorund:focus{
    outline: none;
}